*.csv
*.png
*.pkl
aggregated_metrics/*.csv
aggregated_metrics/*.png
aggregated_metrics/*.pkl
!timing_correctness_data.csv
!patchwork_screener.csv
!patchwork_survey.csv
.DS_Store
.RData
.Rhistory
.venv
__pycache__/
*.pyc
*.pyo
nohup.out
